:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 60px;
  grid-column-gap: 10px;
  height: 90vh;
}
.notas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.acao {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-column-gap: 10px;
}
