<input nz-input [formControl]="ctrlBusca" (blur)="verificaSelecionado()" [nzAutocomplete]="auto">
<nz-autocomplete (selectionChange)="seleciona($event)" #auto>
    <nz-auto-option *ngFor="let opcao of data" [nzValue]="opcao" [nzLabel]="opcao.nome">{{ opcao.nome }}</nz-auto-option>
    <nz-auto-option *ngIf="isLoading" nzValue="">Carregando ...</nz-auto-option>
    <nz-auto-option
      *ngIf="(data.length === 0 || data == null) && !isLoading && ctrlBusca.value !== null"
      nzDisabled
      nzValue=""
    >
      Nada encontrado
    </nz-auto-option>
</nz-autocomplete>
