<form nz-form [formGroup]="contatoForm" class="formulario">
  <nz-form-item class="nome">
    <nz-form-label>Nome</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="nome">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="apelido">
    <nz-form-label>Apelido</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="apelido">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="cpf">
    <nz-form-label>CPF</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="cpf">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="rg">
    <nz-form-label>RG</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="rg">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="Tipo">
    <nz-form-label>Tipo</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="tipo">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="profissao">
    <nz-form-label>Profissao</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="profissao">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="data-nascimento">
    <nz-form-label>Data de Nascimento</nz-form-label>
    <nz-form-control>
      <nz-date-picker formControlName="dataNascimento" (ngModelChange)="onChange($event)"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

    <nz-form-item class="sexo">
    <nz-form-label>Sexo</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="sexo">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="observacao">
    <nz-form-label>Observação</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="observacao">
    </nz-form-control>
  </nz-form-item>
</form>
