<form nz-form [formGroup]="contatoForm" class="formulario">
  <nz-form-item class="nome">
    <nz-form-label nzRequired>Nome</nz-form-label>
    <nz-form-control nzHasFeedback nzErrorTip="Deve conter pelo menos 3 caracteres">
      <input nz-input formControlName="nome">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="apelido">
    <nz-form-label>Apelido</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="apelido">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="contatoForm.get('tipo').value == 'C'" class="cpf">
    <nz-form-label>CPF</nz-form-label>
    <nz-form-control nzHasFeedback nzErrorTip="Deve conter 11 numeros">
      <input mask="000.000.000-00" nz-input formControlName="cpf">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="contatoForm.get('tipo').value == 'F'" class="cnpj">
    <nz-form-label>CNPJ</nz-form-label>
    <nz-form-control nzHasFeedback nzErrorTip="Deve conter 14 numeros">
      <input mask="00.000.000/0000-00" nz-input formControlName="cpf">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="contatoForm.get('tipo').value == 'C'" class="rg">
    <nz-form-label>RG</nz-form-label>
    <nz-form-control nzHasFeedback nzErrorTip="Deve conter 9 numeros">
      <input mask="00.000.000-0" nz-input formControlName="rg">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="contatoForm.get('tipo').value == 'F'" class="inscricao-estadual">
    <nz-form-label>Inscrição Estadual</nz-form-label>
    <nz-form-control nzHasFeedback nzErrorTip="Deve conter 12 numeros">
      <input mask="000.000.000.000" nz-input formControlName="inscricaoEstadual">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="Tipo">
    <nz-form-label>Tipo</nz-form-label>
    <nz-form-control>
      <nz-radio-group formControlName="tipo">
        <label nz-radio nzValue="C">Cliente</label>
        <label nz-radio nzValue="F">Fornecedor</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="profissao">
    <nz-form-label>Profissao</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="profissao">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="data-nascimento">
    <nz-form-label>Data de Nascimento</nz-form-label>
    <nz-form-control>
      <nz-date-picker formControlName="dataNascimento"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

    <nz-form-item class="sexo">
    <nz-form-label>Sexo</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="sexo">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="observacao">
    <nz-form-label>Observação</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="observacao">
    </nz-form-control>
  </nz-form-item>

  <div class="acao-form">
    <p></p>
    <button nz-button nzShape="round" nzType="primary" (click)="fechar()">
      <i nz-icon nzType="close-square" nzTheme="outline"></i>
      Cancelar
    </button>

    <button
      nz-button
      (click)="contatoForm.reset({ tipo: 'C' })"
      nzType="primary"
      nzShape="round"
      *ngIf="!editarContato"
    >
      <i nz-icon nzType="clear" nzTheme="outline"></i>
      Limpar
    </button>
    <button
      nz-button
      (click)="cadastrar()"
      nzType="primary"
      nzShape="round"
      [disabled]="contatoForm.invalid"
    >
      <i nz-icon nzType="save" nzTheme="outline"></i>
      {{ editarContato ? 'Salvar' : 'Cadastrar' }}
    </button>
  </div>
</form>

<nz-alert *ngIf="contatoForm.invalid" nzType="warning" nzMessage="Necessário preencher todos os campos obrigatórios" nzShowIcon class="alerta"></nz-alert>
