:host {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 30px repeat(2, 1fr) 60px;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  height: 90vh;
}
.titulo {
  grid-area: 1 / 1 / 2 / 2;
}


.produtos {
  grid-area: 2 / 2 / 5 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px 10px;
}
.produto {
  width: 100%;
  display: block;
}
.acao-produto {
  grid-area: 5 / 2 / 6 / 3;
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.acao-contato {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}
.selecionar-contato {
  grid-area: 1 / 1 / 2 / 2;
}
.cadastrar-contato {
  grid-area: 1 / 2 / 2 / 3;
}

.contato {
  grid-area: 3 / 1 / 4 / 2;
}

.venda {
  grid-area: 4 / 1 / 5 / 2;
}

.ant-statistic-content-value-int {
  font-size: 2.5em !important;
}
