<div class="acao-produtos">
  <button nz-button nzType="primary" (click)="selecionaProduto()">
    Seleciona
  </button>
</div>
<div class="produtos">
  <div *ngFor="let produtoVenda of produtosExibicao">
    <nz-card class="produto" [nzActions]="[acaoEditar, acaoRemover]">
      <nz-card-meta
        [nzTitle]="produtoVenda.produto.descricao"
        [nzDescription]="observacao"
      ></nz-card-meta>
    </nz-card>
    <ng-template #observacao>
      <p>Quantidade: {{ produtoVenda.quantidade }}</p>
      <p>Desconto: {{ produtoVenda.desconto }}</p>
      <p>Valor: {{ produtoVenda.valorFinal }}</p>
    </ng-template>
    <ng-template #acaoEditar>
      <a (click)="selecionaProduto(produtoVenda)">Editar</a>
    </ng-template>
    <ng-template #acaoRemover>
      <a (click)="remover(produtoVenda)">Remover</a>
    </ng-template>
  </div>
</div>
<div class="paginacao-produtos">
  <nz-pagination
    [nzPageIndex]="paginacao.pagina"
    [nzTotal]="produtos.length"
    [nzPageSize]="paginacao.tamanho"
    [nzShowTotal]="totalTemplate"
    (nzPageIndexChange)="paginar($event)"
  ></nz-pagination>
  <ng-template #totalTemplate let-total>
    Total {{ total }} produtos
  </ng-template>
</div>

<div class="acao-contato">
  <app-auto-complete-contato
    class="selecionar-contato"
    (quandoSelecionado)="contatoSelecionado($event)"
  >
  </app-auto-complete-contato>
</div>
<div class="contato">
  <nz-descriptions nzTitle="Cliente" *ngIf="venda.contato">
    <nz-descriptions-item nzTitle="Nome">{{
      venda.contato.nome
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Apelido">{{
      venda.contato.apelido
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="CPF">{{
      venda.contato.cpf
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Profissão">{{
      venda.contato.profissao
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Sexo">{{
      venda.contato.sexo
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Data de Nascimento">{{
      venda.contato.dataNascimento
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Observacao">{{
      venda.contato.observacao
    }}</nz-descriptions-item>
  </nz-descriptions>
</div>
<div class="venda">
  <nz-descriptions nzTitle="Venda">
    <nz-descriptions-item nzTitle="Total">R$1.0000,00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Data">
      01/01/2020
    </nz-descriptions-item>
  </nz-descriptions>

  <form nz-form [formGroup]="vendaForm" class="formulario">
    <nz-form-item class="desconto">
      <nz-form-label>Desconto</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="desconto" />
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<div class="acao-venda">
  <button nz-button nzType="primary">Cancelar</button>
  <button
    nz-button
    (click)="finalizar(statusVendaEnum.Aberta)"
    nzType="primary"
    [disabled]="
      vendaForm.invalid ||
      produtos.length == 0 ||
      venda.status == statusVendaEnum.Finalizada
    "
  >
    Salvar
  </button>
  <button
    nz-button
    (click)="finalizar(statusVendaEnum.Finalizada)"
    nzType="primary"
    [disabled]="vendaForm.invalid || produtos.length == 0"
  >
    Finalizar
  </button>
</div>
