.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "descricao codigoBarras valorVenda"
    "cadastrar cadastrar cadastrar";
  gap: 0px 10px;
}
.descricao {
  grid-area: descricao;
  width: 100%;
}
.codigoBarras {
  grid-area: codigoBarras;
  width: 100%;
}
.valorVenda {
  grid-area: valorVenda;
  width: 100%;
}
.cadastrar {
  grid-area: cadastrar;
  width: 100%;
}
