<form nz-form [formGroup]="categoriaForm">

  <nz-form-item>
    <nz-form-label nzRequired>Nome</nz-form-label>
    <nz-form-control nzErrorTip="Por favor digite um nome!">
      <input nz-input formControlName="nome" placeholder="Digite o nome da categoria" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Descrição</nz-form-label>
    <nz-form-control nzErrorTip="Por favor digite uma descrição!">
      <input nz-input formControlName="descricao" placeholder="Digite uma descrição da categoria" />
    </nz-form-control>
  </nz-form-item>

  <div class="acao-form">
    <p></p>
    <button nz-button nzShape="round" nzType="primary" (click)="fechar()">
      <i nz-icon nzType="close-square" nzTheme="outline"></i>
      Cancelar
    </button>

    <button nz-button (click)="categoriaForm.reset()" nzType="primary" nzShape="round" *ngIf="btnName != 'Cadastrar'">
      <i nz-icon nzType="clear" nzTheme="outline"></i>
      Limpar
    </button>
    <button nz-button (click)="submitForm()" nzType="primary" nzShape="round" [disabled]="categoriaForm.invalid">
      <i nz-icon nzType="save" nzTheme="outline"></i>
      {{ btnName }}
    </button>
  </div>

</form>
<nz-alert *ngIf="categoriaForm.invalid" nzType="warning" nzMessage="Necessário preencher todos os campos obrigatórios"
  nzShowIcon class="alerta"></nz-alert>