.layout {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: rgba(250, 250, 250, 0.884);
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  /* background-image: url('/src/assets/logo.png'); */
  margin: 16px 24px 16px 0;
  float: left;
}

nz-header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

nz-content {
  padding: 0 50px;
  margin-top: 75px;
}

.settings{
  position: absolute;
  right: 0;
}