<app-auto-complete-produto *ngIf="!editarProduto" (quandoSelecionado)="selecionaProduto($event)"></app-auto-complete-produto>
<nz-tabset>
  <nz-tab nzTitle="Informações da Venda">
    <div class="produto-venda" *ngIf="produto">
      <nz-descriptions [nzColumn]="2" nzTitle="Produto">
        <nz-descriptions-item nzTitle="Descricao" [nzSpan]="1">{{ produto.descricao }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Codigo de Barras" [nzSpan]="1">{{ produto.codigoBarras }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Quantidade em estoque" [nzSpan]="1">{{ produto.quantidade }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Valor de Venda" [nzSpan]="1">{{ produto.valorVenda | currency: 'BRL' }}</nz-descriptions-item>
      </nz-descriptions>

      <form nz-form [formGroup]="produtoVendaForm" class="formulario">
        <nz-form-item class="quantidade">
          <nz-form-label>Quantidade</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Quantidade não disponível">
            <input nz-input formControlName="quantidade">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="desconto">
          <nz-form-label>Desconto</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="desconto deve ser entre 0% e 100%">
            <input nz-input formControlName="desconto">
          </nz-form-control>
        </nz-form-item>
      </form>

      <p>Valor Final: {{ (produto.valorVenda * produtoVendaForm.get('quantidade').value) - (produtoVendaForm.get('desconto').value * (produto.valorVenda * produtoVendaForm.get('quantidade').value)) / 100 | currency: 'BRL' }}</p>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Detalhes do Produto">
    <div *ngIf="produto">
      <nz-descriptions [nzColumn]="2" nzTitle="Produto">
        <nz-descriptions-item nzTitle="Descricao" [nzSpan]="1">{{ produto.descricao }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Codigo de Barras" [nzSpan]="1">{{ produto.codigoBarras }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Valor de Custo" [nzSpan]="1">{{ produto.valorCusto }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Valor de Venda" [nzSpan]="1">{{ produto.valorVenda }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Estoque Mínimo" [nzSpan]="1">{{ produto.estoqueMinimo }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Estoque Máximo" [nzSpan]="1">{{ produto.estoqueMaximo }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Observação" [nzSpan]="2">
          {{ produto.observacao }}
        </nz-descriptions-item>
      </nz-descriptions>
      <nz-divider *ngIf="produto.marca"></nz-divider>
      <nz-descriptions *ngIf="produto.marca" [nzColumn]="2" nzTitle="Marca">
        <nz-descriptions-item nzTitle="Nome" [nzSpan]="1">{{ produto.marca.nome }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Descrição" [nzSpan]="1">{{ produto.marca.descricao }}</nz-descriptions-item>
      </nz-descriptions>
      <nz-divider *ngIf="produto.categoria"></nz-divider>
      <nz-descriptions *ngIf="produto.categoria" [nzColumn]="2" nzTitle="Categoria">
        <nz-descriptions-item nzTitle="Nome" [nzSpan]="1">{{ produto.categoria.nome }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Descrição" [nzSpan]="1">{{ produto.categoria.descricao }}</nz-descriptions-item>
      </nz-descriptions>
    </div>
  </nz-tab>
</nz-tabset>
<div class="acao-produto">
  <p></p>
  <button
    nz-button
    (click)="destroy()"
    nzType="primary"
    nzShape="round"
  >
    <i nz-icon nzType="save" nzTheme="outline"></i>
    Cancelar
  </button>

  <button
    nz-button
    (click)="fechar()"
    nzType="primary"
    nzShape="round"
    [disabled]="!valido || !produto"
  >
    <i nz-icon nzType="save" nzTheme="outline"></i>
    Incluir Produto
  </button>
</div>

<nz-alert *ngIf="!valido" nzType="warning" nzMessage="Produto sem quantidade em estoque" nzShowIcon class="alerta"></nz-alert>

