<nz-select
  nzPlaceHolder="Selecione a categoria"
  nzAllowClear
  nzShowSearch
  nzServerSearch
  nzNotFoundContent="Nada Encontrado"
  [nzLoading]="isLoading"
  [(ngModel)]="categoriaSelecionada"
  (ngModelChange)="seleciona($event)"
  (nzOnSearch)="categorias.next($event)"
>
  <ng-container *ngFor="let opcao of data">
    <nz-option *ngIf="!isLoading" [nzValue]="opcao" [nzLabel]="opcao.nome"></nz-option>
  </ng-container>
  <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
    <i nz-icon nzType="loading" class="loading-icon"></i> Carregando...
  </nz-option>
</nz-select>
